.dropDown {
    background-color: var(--gray-100);
    border: 1.5px solid transparent;
    position: relative;
    font-size: 18px;
    width: 100%;
    height: 3rem;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 1.1rem;
    outline: none;
    transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out, opacity 0.5s ease; /* Adicionado 'opacity' à transição */
    padding-left: 12px;
    margin-bottom: 25px;
    opacity: 1; /* Definido para 1 por padrão para garantir que seja visível inicialmente */
}

.dropDown:focus {
    background-color: #f3a20049;
    border: 1.5px solid #f3a200c6;
}

.dropDown:hover {
    background-color: #f3a20049;
    border: 1.5px solid #f3a200c6;
}

.option {
    background-color: var(--gray-100);
    color: black;
    transition: background-color 0.2s ease-in-out;

}

.option:hover {
    background-color: transparent;
    color: black;
}

.option:checked {
    background-color: #f3a20025;
    color: #754e00;
}
