.containerErro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #512121;
    height: 4rem;
    padding: 1rem;
    border-radius: 12px;
    flex-direction: row;
    border: 3px solid var(--erro-100);
    opacity: 0;
    transition: background-color 0.5s ease, opacity 0.5s ease;
}

.containerErro.hide {
    opacity: 0;
    pointer-events: none; /* Para desabilitar cliques no componente durante o fade-out */
  }

.containerErro.show{
    opacity: 1;
}

.containerErro:hover {
   background-color: #802323;
}

.erro {
    color: rgba(255, 0, 0, 0.837);
}

.containerBt {
    display: flex;
    justify-content: flex-end;
    width: 19rem;
}

.btClose {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
}


.btClose:hover {
    cursor: pointer;
}

.button {
    color: rgba(255, 0, 0, 0.837);
}
