.containerPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerLogin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 6.5rem;
    margin-bottom: 2rem;
}

.btLogin {
    margin-top: 2rem;
}

.inputLogin {
    margin-bottom: 1.5rem;
}