.containerModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  height: 21rem;
  width: 26rem;
  z-index: 99;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.containerAlertIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.8rem;
  width: 2.8rem;
  background-color: rgba(255, 0, 0, 0.208);
  border-radius: 20px;
}

.alertIcon {
  color: rgb(255, 0, 0);
}

.questionText {
  margin: 1rem;
  font-size: larger;
  font-weight: 600;
}

.alertMessage {
  padding: 0 0.5rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.769);
  margin-bottom: 1rem;
}

.containerButtons {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 7rem;
  justify-content: space-around;
}

.deleteButton {
  background-color: #e11d48;
  color: white;
  border-style: none;
  height: 2.5rem;
  border-radius: 6px;
  font-size: medium;
  transition: background-color 0.5s, transform 0.2s ease-out;
}

.deleteButton:hover {
  background-color: rgb(255, 0, 55);
  transform: scale(1.04);
}

.deleteButton:active {
  transform: scale(0.95);
}

.cancelButton {
  background-color: white;
  height: 2.5rem;
  border-style: none;
  font-size: medium;
  border: 2px solid rgba(0, 0, 0, 0.295);
  border-radius: 6px;
  transition: background-color 0.5s, transform 0.2s ease-out;
}

.cancelButton:hover {
  transform: scale(1.04);
}

.cancelButton:active {
  transform: scale(0.95);
}

.carDetails {
  text-align: center;
  color: black;
  margin-bottom: 1rem;
  font-size: large;
}