.btLogin {
    background-color: black;
    border: none;
    color: white;
    border-radius: 15;
    height: 40px;
    width: 200px;
    border-radius: 15px;
}

.btLogin:hover {
    background-color: rgb(61, 61, 61);
}