.btLogin {
    background-color: black;
    border: none;
    color: white;
    border-radius: 15;
    height: 40px;
    width: 200px;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.25rem;
}

.btLogin:hover {
    background-color: rgb(61, 61, 61);
}