.inputLogin{
    background-color: transparent;
    position: relative;
    border: none;
    border-bottom: 1.5px solid gray;
    transition: border-bottom-width ease-in-out;
    font-size: 14px;
    margin-top: 15px;
    padding-bottom: 10px;
    width: 100%;
    margin-right: 2rem;
}

.inputLogin:focus{
    border: none;
    outline: none;
    border-bottom: 2.5px solid gray;
}