.inputFormName {
    display: flex;
    background-color: var(--gray-100);
    border: 1.5px solid transparent;
    position: relative;
    font-size: 18px;
    width: 100%;
    height: 3rem;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 1.1rem;
    outline: none;
    transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out, opacity 0.5s ease; /* Adicionado 'opacity' à transição */
    padding: 0 12px;
    margin-bottom: 25px;
    opacity: 1; /* Definido para 1 por padrão para garantir que seja visível inicialmente */
}

.inputFormName:focus {
    background-color: #f3a20049;
    border: 1.5px solid #f3a200c6;
}

.inputFormName:hover {
    background-color: #f3a20049;
    border: 1.5px solid #f3a200c6;
}

.inputContainer {
    position: relative;
}

.error {
    border: 1.5px solid #ff0000;
}

.error .inputFormName {
    opacity: 0.8; /* Defina a opacidade desejada para o estado de erro */
}

.alertIcon {
    position: absolute;
    top: 48%;
    right: 12px;
    transform: translateY(-50%);
    color: #ff0000;
}
