.inputSenha{
    background-color: transparent;
    position: relative;
    border: none;
    /*border-bottom: 1.5px solid gray;*/
    transition: border-bottom-width ease-in-out;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.inputSenha:focus{
    border: none;
    outline: none;
    /*border-bottom: 1.5px solid gray; 
    box-shadow: 0 2px 0 gray;*/
}
.btMostrarSenha{
    background-color: transparent;
    border: none;
}
.containerInputSenha{
    display: flex;
    flex-direction: row;
    background-color: var(--gray-200);
    border-radius: 4px;
    height: 2rem;
    width: 12rem;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
}